replicaCount: 2

image:
  repository: ""
  tag: ""
  pullPolicy: ""

service:
  type: ClusterIP
  port: 3002

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

env:
  PORT: "3002"
  CORS_ORIGIN: ""

hpa:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

pdb:
  enabled: false
  minAvailable: 1

serviceAccount:
  create: true
  annotations: {}
  name: ""
